---
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Himnario jóvenes</title>
    <ViewTransitions />
  </head>
  <body class="bg-gradient-to-br from-slate-400 to-slate-600 min-h-screen">
    <main
      class="flex flex-col justify-center items-center min-h-screen p-4 w-full relative"
    >
      <slot />
    </main>
  </body>
</html>
